/* create an arrow that points up */
div.arrow-up {
    width: 0;
    height: 0;
    border-left: 100px solid transparent; /* left arrow slant */
    border-right: 100px solid transparent; /* right arrow slant */
    border-bottom: 100px solid #2f2f2f; /* bottom, add background color here */
    font-size: 0;
    line-height: 0
}
/* create an arrow that points down */
div.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f2f2f;
    font-size: 0;
    line-height: 0
}
/* create an arrow that points left */
div.arrow-left {
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent; /* left arrow slant */
    border-top: 5px solid transparent; /* right arrow slant */
    border-right: 5px solid #2f2f2f; /* bottom, add background color here */
    font-size: 0;
    line-height: 0
}
/* create an arrow that points right */
div.arrow-right {
    width: 0;
    height: 0;
    border-bottom: 100px solid transparent; /* left arrow slant */
    border-top: 100px solid transparent; /* right arrow slant */
    border-left: 100px solid #2f2f2f; /* bottom, add background color here */
    font-size: 0;
    line-height: 0
}

/* tooltip content styling in here; nothing to do with arrows */
div.tooltip {
    width: 100px;
    height: 50px
}
/* shared with before and after */
div.tooltip:before, div.tooltip:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border: 10px solid transparent /* arrow size */
}
/* these arrows will point up */
/* top-stacked, smaller arrow */
div.tooltip:before {
    border-bottom-color: #fff; /* arrow color *//* positioning */
    position: absolute;
    top: -19px;
    left: 255px;
    z-index: 2
}
/* arrow which acts as a background shadow */
div.tooltip:after {
    border-bottom-color: #333; /* arrow color *//* positioning */
    position: absolute;
    top: -24px;
    left: 255px;
    z-index: 1
}